:root {
  --darkBackground: #699a92;
  --lightBackground: #89bdba;
  --underTone: #f1fdfc;
  --borderRadius: 5px;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  font-family: cursive;
}

.nav-bar {
  padding: 0 10px;
  background-color: var(--darkBackground);
}

h1 {
  font-size: 1.5rem;
  margin-right: auto;
  width: fit-content;
  padding: 10px 10px;
  color: var(--darkBackground);
  box-shadow: 0px 1px #699a92;
  margin-top: 10px;
  margin-bottom: 80px;
  text-shadow: 2px 2px #bddddb;
  border-radius: var(--borderRadius);
  animation-name: animateHeader;
  animation-duration: 4s;
}

h1:hover {
  transform: rotateZ(360deg);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-bar ul {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-bar ul li {
  font-size: 1.2rem;
  color: white;
  margin: auto;
  padding: 10px;
  transition: background-color 1s ease-in-out;
}

.nav-bar ul li:hover {
  background-color: var(--lightBackground);
  cursor: pointer;
  border-radius: var(--borderRadius);
}

.nav-bar ul li.active {
  background-color: var(--lightBackground);
  border-radius: var(--borderRadius);
}

.content-container {
  background: var(--underTone);
  min-height: calc(100vh - 42px);
  padding: 20px;
}

.image-description-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.image-description-container .image-container img.image-up {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 25px;
  top: 25px;
  border-radius: var(--borderRadius);
  border: 2px solid #699a92;
}

.background-down {
  position: relative;
  width: 200px;
  height: 250px;
  background: rgb(137 189 186 / 0.5);
  border-radius: var(--borderRadius);
}

.description-container {
  margin-left: 50px;
  width: 100%;
  max-width: 700px;
  background-color: rgba(189, 221, 219, 1);
  border-radius: var(--borderRadius);
}

.description-container .about-para {
  padding: 5px 10px;
  color: #44635e;
  animation-name: animate;
  animation-duration: 0.5s;
}

@keyframes animate {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animateHeader {
  0% {
    transform: rotateZ(90deg);
  }
  25% {
    transform: rotateZ(180deg);
  }
  50% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.contacts-wrapper {
  margin-top: 30px;
}
